:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --yellow-500: #eab308;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dashboard-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 3fr / 1fr 4fr;
}

.dashboard-header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  padding-left: 3rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
  gap: 1rem;
  position: relative;
  box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.2);
  white-space: nowrap;
}

.header-top {
  display: flex;
  gap: 6rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.header-top > .search {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search > label {
  display: flex;
  align-items: center;
}

.header-top input[type="search"] {
  flex: 1;
  max-width: 800px;
  background-color: var(--slate-200);
  border-style: none;
  border-radius: 1rem;
  padding: 0.55rem 1rem;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.header-top > .side {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.side > .icon:hover,
.profile {
  cursor: pointer;
}

.dashboard-header .icon {
  user-select: none;
}

.dashboard-header .icon,
.dashboard-sidebar .icon {
  width: min(50px, 1.75rem);
}

.header-top .icon.profile {
  width: min(100px, 3.25rem);
  background-color: red;
  border-radius: 50%;
  padding: min(10px, 0.3rem);
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header-bottom > .user-greeting {
  display: flex;
  column-gap: 1.5rem;
  padding-left: 0.25rem;
  align-items: center;
}

.user-greeting > .profile {
  width: min(150px, 4.75rem);
  background-color: red;
  border-radius: 50%;
  padding: min(10px, 0.3rem);
}

.user-greeting > .greeting-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-weight: 700;
}

.greeting-text span:nth-child(2) {
  font-size: 1.75rem;
}

.header-bottom > .buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.buttons > * {
  cursor: pointer;
  border-radius: 2rem;
  border-style: none;
  background-color: var(--sky-500);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  width: min(175px, 7rem);
  height: min(70px, 2.75rem);
}

.buttons > *:hover {
  background-color: var(--sky-600);
}

.dashboard-sidebar {
  background-color: var(--sky-600);
  grid-area: 1 / 1 / 3 / 2;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.75rem;
  user-select: none;
}

.dashboard-sidebar > .sidebar-top > .icon {
  width: min(100px, 3.5rem);
}

.dashboard-sidebar .icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(267deg)
    brightness(106%) contrast(102%);
}

.sidebar-top {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.dashboard-sidebar ul > * {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1.75rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.dashboard-sidebar ul > *:hover {
  cursor: pointer;
  color: var(--slate-300);
  background-color: var(--sky-700);
}

.sidebar-middle > ul,
.sidebar-bottom > ul {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.sidebar-middle > ul {
  padding-bottom: 0.75rem;
}

.dashboard-main {
  background-color: var(--slate-300);
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 1fr;
  padding: 1.5rem;
  gap: 1.5rem;
}

.dashboard-main > .projects {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.projects-container > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.75rem;
  overflow: scroll;
  max-height: 60vh;
  padding-right: 0.75rem;
}

.projects-container > ul > li {
  background-color: var(--slate-50);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  border-left: 0.6rem solid var(--yellow-500);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  box-shadow: 5px 7px 7px 0 rgb(0, 0, 0, 0.3);
}

.projects-container > ul > li > span:first-of-type {
  font-size: 1.25rem;
}

.projects-container > ul > li > span:last-of-type{
  font-weight: 400;
  font-size: 0.95rem;
  color: rgb(0, 0, 0, 0.6);
}

.projects > span:first-child,
.announcements > span:first-child,
.trending > span:first-child {
  font-size: 1.4rem;
  user-select: none;
}

.projects-container > ul > li img {
  width: min(50px, 1.75rem);
}

.projects-container .icons {
  user-select: none;
  margin-top: 0.25rem;
  margin-right: 1rem;
  display: flex;
  gap: 1.75rem;
  justify-content: flex-end;
}

.projects-container .icons > li:hover {
  cursor: pointer;
  opacity: 0.6;
}

.dashboard-main > .announcements {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.dashboard-main > .trending {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

@media (max-width: 1200px) {

  .dashboard-container {
    grid-template-columns: 0 1fr;
  }
  
  .header-bottom > .user-greeting {
    display: none;
  }

  .dashboard-header {
    padding-top: 1rem;
    height: 12rem;
  }

  .header-top {
    flex-direction: column;
    gap: 1rem;
  }

  .header-top > .search {
    align-self: stretch;
  }

  .header-top > .side {
    align-self: center;
  }

  .header-bottom {
   justify-content: center;
  }

  .dashboard-main {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr repeat(2, 1fr);
  }

  .dashboard-main > .projects {
    grid-area: 1 / 1 / 2 / 2;
  }

  .dashboard-main > .announcements {
    grid-area: 2 / 1 / 3 / 2;
  }

  .dashboard-main > .trending {
    grid-area: 3 / 1 / 4 / 2;
  }
}
